<div id="side">
  <div id="navi" class="mar_btm_10 border_radius border_solid">
    <ul class="navi_ul">

      <li class="border_bottom font_14">
        <%= link_to "トップページ", root_path, class: "navi_top" %>
      </li>

      <li class="border_bottom font_14">
        <%= link_to "お知らせ", root_path, class: "navi_info" %>
      </li>

      <li class="border_bottom font_14">
        <%= link_to "チーム案内", root_path, class: "navi_free" %>
      </li>

      <li class="border_bottom font_14">
        <%= link_to "選手紹介", root_path, class: "navi_player" %>
      </li>

      <li class="border_bottom font_14">
        <%= link_to "練習・試合予定", root_path, class: "navi_calendar" %>
      </li>

      <li class="border_bottom font_14">
        <%= link_to "試合結果", root_path, class: "navi_result" %>
      </li>

      <li class="border_bottom font_14">
        <%= link_to "お問い合わせ", root_path, class: "contact" %>
      </li>
    </ul>
  </div>

  <div id="sidebar">
    <div class="today_area sidebar mar_btm_10 today_area_smartphone border_radius border_dotted">
      <div class="today_title font_14 border_bottom mar_btm_20 pad_btm_10">
        <i class="fa fa-circle side_title font_10 main_color"></i>スケジュール
      </div>
    </div>
  </div>
</div>