<!DOCTYPE html>
<html>
  <head>
    <title>RanpachHp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>少年野球クラブ「グーペチーム」</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
